@media(max-width:990px){
  
  .box{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .left-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }
  h3{
    font-size: 1rem;
  }
  .right-box{
    padding: 0 2rem;
  }
}